
@media (max-width: 768px) {
  .nav {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    background-color: var(--cor-header-bg);
    flex-direction: column;
    display: none;
    z-index: 1500;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .nav.active {
    display: flex;
  }

  .nav-list {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
  }

  .nav-toggle {
    display: block;
  }

  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-photo {
    margin-bottom: 1rem;
  }
}
