:root {
  --cor-bg: #1B1B2F;
  --cor-texto: #CCCCCC;
  --cor-destaque: #6c17bb;
  --cor-secundaria: #8d80ac;
  --cor-header-bg: #593c8f;
  --cor-header-bg-hover: #f3e5e7;
  --font-family: 'Poppins', sans-serif;
}